*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    margin:10px 30px;

    

}
.one{
height: 45px;
background-color:gray;
text-align: left;
padding-left: 20px;
margin-bottom: 10px;
}
.two{
height: 40px;
background-color:gray;
margin-bottom: 10px;
text-align: center;
padding-top: 5px;
}
.three{
height:100px;
background-color:gray;
margin-bottom: 10px;
padding-top: 30px;
text-align: center;
}
.four{
height:400px;
margin-bottom: 10px;
display:flex;
flex-direction: row;
align-items: normal;

}
.sub1{
width:30%;
margin-right: 10px;
background-color:gray;
padding-top: 180px;
text-align: center;

}
.sub2{
padding-left: 20px;
width: 80%;
background-color:gray;
padding-top: 180px;
text-align: center;

}
.five{
height:60px;
background-color:gray;
margin-bottom: 10px;
padding-top: 15px;
text-align: center;;
}